# Banco de dados
DB_HOST=postgres
DB_PORT=5432
DB_USER=pedidos_user
DB_PASSWORD=pedidos_pass
DB_NAME=pedidos_db

# Mensageria
RABBITMQ_URL=amqp://rabbitmq:5672

# URLs internas dos serviços (usadas pelo api-gateway e pedidos)
PEDIDOS_URL=http://pedidos:3001
PAGAMENTOS_URL=http://pagamentos:3002
ESTOQUE_URL=http://estoque:3003
